#Accessories
.DS_Store
*.swp
*.swo
*~
*.md

#Files
.eslintrc.json
.dockerignore
.git
.gitignore
README.md
*.log
.nyc_output
sonar-project.properties
*.key
*.pem
*.crt
*.p12
*.pfx
*.secret
.env
.env.example
.env.local
.env.production
.env.staging
jest.config.js

#Folders
.github/
.gitlab/
argocd/
analysis/
coverage/
data/
dist/
logs/
node_modules/
renovate/
reports/
wiki/
k8s/
scripts/
secrets/
config/secrets/
test/
