node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.example
.eslintrc.json
.dockerignore
logs
*.log
coverage
.nyc_output
.DS_Store
*.swp
*.swo
*~
.github
.gitlab
test
*.md
analysis
renovate